<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body style="background-color: lightblue;">
    <form action="/tag/create" method="post" class="form_post">
        <h1>MAKE YOUR TAG</h1>
        <input type="text" style="width: 25vw;" name="Tag" placeholder="TAG NAME"><br> <br>
        <button type="submit" class="D_button">SUBMIT</button>
        
    </form>
    
        <a href="/" style="text-align: center; padding-left: 43.4vw;"><button type="submit" class="H_button">HOME</button></a>
</body>
</html>