<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Home</title>
</head>
<body style="background-color: lightblue;">
    <div style="width: 25vw; padding-left: 35vw; padding-top: 25vh; text-align: center;">
        <h1>ANIME BLOG SPOT</h1>
        <a href="/user" style="float: left;"><button type="submit" class="H_button">USERS</button></a>
        <a href="/tag" style="float: right;"><button type="submit" class="D_button">TAGS</button></a>
    </div>
</body>
</html>