<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Users</title>
</head>
<body style="background-color: lightblue; padding-bottom: 25vh;">

    <div style="padding-left: 35vw;">
        <p>
       <section style="font-size: 5vh;">All USERS</section>
        <ol style="font-size: 3vh;">
            {%for i in u%}
            <a href="/user/{{i.id}}"><li>{{i.first_name}} {{i.last_name}}</li></a>
            {%endfor%}
        </ol>

        <button id="create_u" class="E_button">Add User</button> <br>
        <a href="/"><button type="submit" class="D_button">HOME</button></a>
        
    </p>
    </div>
    

    

    <script src="/static/js/myfile.js"></script>
</body>
</html>